*:focus {
  outline: none;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputField {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #babfc6;
}

.inputField:focus {
  box-shadow: 0 0 1px 1px #b0e0ee;
  border: 2px solid #b0e0ee;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search {
  margin-left: -40px;
}

.searchIcon {
  width: 23px;
  height: 19px;
}

.clear {
  margin-left: -60px;
}

.clearIcon {
  width: 17px;
  height: 17px;
}

.hide {
  display: none;
}

.list {
  margin-left: 30px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .searchForm {
    margin-top: 6%;
    margin-left: -40px;
  }

  .inputField {
    width: 90%;
  }

  .list {
    width: 80%;
    margin-left: -15px;
  }
}

@media only screen and (min-width: 501px) {
  .searchForm {
    margin-top: 2%;
  }

  .inputField {
    width: 40%;
  }

  .list {
    width: 30%;
  }
}
