*:focus {
  outline: none;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputField {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #babfc6;
}

.inputField:focus {
  box-shadow: 0 0 1px 1px #b0e0ee;
  border: 2px solid #b0e0ee;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: -40px;
}

.searchIcon {
  width: 23px;
  height: 19px;
}

@media only screen and (max-width: 500px) {
  .searchForm {
    margin-top: 6%;
  }

  .inputField {
    width: 90%;
  }

}

@media only screen and (min-width: 501px) {
  .searchForm {
    margin-top: 2%;
  }

  .inputField {
    width: 40%;
  }
}
